.centrar {
  text-align: center;
}
#contenedor {
  border: 10px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  } 
.caja {
  width: 600px;
  padding: 20px;
  border: 25px solid palevioletred;
  margin: 30px;
}
body{
  background-color: #1A3B32;
  color: #59B3AF;
}
