.centrar {
  text-align: center;
}
#contenedor {
  border: 10px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  } 
.caja {
  width: 200px;
  padding: 20px;
  border: 3px solid black;
  margin: 30px;
}
