body{
font-family: Georgia, serif;
margin:0;
background:white;
color:#222;
line-height:1.7;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
}

h1{
font-size:42px;
margin-bottom:20px;
}

h2{
margin-top:40px;
font-size:26px;
}

p{
margin-bottom:18px;
}

nav{
display:flex;
gap:30px;
padding:20px;
border-bottom:1px solid #ddd;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}
