body{
font-family: Georgia, serif;
margin:0;
background:white;
color:#222;
line-height:1.7;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
}

h1{
font-size:42px;
margin-bottom:20px;
}

h2{
margin-top:40px;
font-size:26px;
}

p{
margin-bottom:18px;
}

header{

position:fixed;
top:0;
left:0;

width:100%;

background:black;
color:white;

z-index:1000;

}

.logo{

font-weight:bold;
letter-spacing:2px;

}

.menu a{

color:white;
text-decoration:none;

margin-left:25px;

transition:.3s;

}

nav{
display:flex;
gap:30px;
padding:20px;
border-bottom:1px solid #ddd;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}

img{
    max-width: 100%;
    height: auto;
}
